extends layout

block nav
  .topnav
      a(href='/') Home
      a(href='/about') About Us
      a(href='/calendar') Calendar
      a.active(href='/contact') Contact

block content
  h1= title